.navbar {
    padding: 2rem 0;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    position: relative;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.navbar-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 500;
    /* Regular weight for elegance */
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
}

.nav-actions {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.btn-text {
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-text:hover {
    background-color: #333;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-outline {
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    color: #000;
    padding: 0.8rem 1.5rem;
    border: 2px solid #000;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-outline:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-bottom {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-link {
    font-family: var(--font-body);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-text);
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-top {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .navbar-bottom {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}